.main-bg {
  background-color: #223a5f;
}

.container {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}
.overlay {
  position: fixed;
  background-color: transparent;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 8px;
}
